  <div class="tw-h-376px tw-relative tw-mb-4 tw-bg-cover {{class}}" style="background-image:url('{{image}}')">
    <div class='tw-container tw-mx-auto tw-px-5 lg:tw-px-10 2xl:tw-px-0 xl:tw-max-w-1336px tw-pt-1px'>
      <div class="tw-w-294px md:tw-w-480px xl:tw-w-690px tw-bg-white {{size}}:tw-bg-transparent 
      tw-opacity-80 {{size}}:tw-opacity-100 tw-mt-11">
          {% if selector == 'white' %}
        <div class="tw-p-5 lg:tw-pl-0 md:tw-pr-16 2xl:tw-pr-4 tw-text-matterhorn md:tw-text-white">
          {% else %}
        <div class="tw-p-5 lg:tw-pl-0 md:tw-pr-16 2xl:tw-pr-4 tw-text-matterhorn">
          {% endif %}
              <h2 class="tw-text-32px/40px md:tw-text-45px/56px tw-pb-4 2xl:tw-pb-7">{{title}}</h2>
              <p class="tw-text-18px/24px md:tw-text-20px/29px tw-font-open-sans tw-font-normal">{{description}}</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
