<!-- /templates/customers/reset_password.liquid -->
<section class="tw-py-9">
  <div class="tw-container tw-mx-auto sm:tw-max-w-screen-sm tw-px-5 md:tw-px-0">
    
      <h1 class="tw-text-matterhorn tw-text-32px/40px lg:tw-text-45px/56px tw-text-center tw-pb-4">{{ 'customer.reset_password.title' | t }}</h1>  
      <p class="tw-text-20px/25px tw-text-matterhorn tw-text-center tw-font-encode-sans tw-font-medium tw-pb-6">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    
      <div class="tw-bg-aliceblue tw-py-10 tw-px-9">
        {% form 'reset_customer_password' %}
        {{ form_errors | default_errors }}
      
        <div class="password tw-pb-4">
          <label class="tw-font-open-sans tw-text-black tw-text-16px/24px" for="password">{{ 'customer.reset_password.password' | t }}</label>
          <input class="tw-h-10 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" type="password" name="customer[password]" required>
        </div>
      
        <div class="password_confirm tw-pb-8">
          <label class="tw-font-open-sans tw-text-black tw-text-16px/24px" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input class="tw-h-10 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" type="password" name="customer[password_confirmation]" required>
        </div>
      
        <div class="submit tw-text-center">
          <button class="primary__button tw-w-48 sm:tw-w-full tw-py-3 tw-uppercase" type="submit">{{ 'customer.reset_password.submit' | t }}</button>
      {% endform %}
      </div>

  </div>
</section>

