<!-- /templates/page.liquid -->
<section class="tw-my-9 xl:tw-mb-16">
    <div class="tw-px-5 md:tw-px-10 xl:tw-px-32 2xl:tw-px-0 tw-container tw-mx-auto xl:tw-max-w-1336px">
        <h1 class="tw-text-32px/40px lg:tw-text-45px/56px tw-pb-3 xl:tw-pb-9 tw-text-matterhorn">{{page.title}}</h1>
        <div class="xl:tw-grid xl:tw-grid-cols-4/6">
            <div class="tw-text-matterhorn xl:tw-mr-12">
                    <h3 class="tw-text-22px/28px tw-pb-4">Interested in stocking Exederm products in your store or medical practice?</h3>
                    <p class="tw-text-black tw-text-18px/24px tw-pb-3">Bentlin Products have recently decided to allow selected independent retailers to stock Exederm products in their stores.</p>
                    <p class="tw-text-black tw-text-18px/24px tw-pb-3"> In addition, a growing number of doctors offices, especially dermatologists and allergy specialists are also stocking the brand for their patients.</p>
                    <p class="tw-text-black tw-text-18px/24px tw-pb-9">We look forward to hearing from you.</p>
        
            </div>

            <div class="tw-bg-aliceblue tw-px-10 tw-py-8">
                <h2 class="tw-text-26px/33px tw-text-matterhorn tw-pb-4">Exederm Stockist Request Form</h2>
                {% form 'contact' %} 

                {% if form.posted_successfully? %}
                    <p class="tw-mb-7 tw-text-white tw-bg-green tw-p-5">
                        {{ 'contact.form.post_success' | t }}
                    </p>
                {% endif %}

                {% if form.errors %}
                    <p class="tw-mb-7 tw-text-white tw-bg-red-500 tw-p-5">{{ form.errors | deafult_errors }}</p>
                {% endif %}

                <div class="tw-hidden">
                    <input  
                    type="text" 
                    id="ContactFormPage" 
                    name="contact[Sent From Page]"
                    value="{{page.title}}"
                    required>
                </div>

                <div class="md:tw-flex md:tw-justify-between">
                    <div class="tw-pb-4 md:tw-w-48%">
                        <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormFirstName">{{ 'contact.form.firstname' | t}}*</label><br>
                        <input 
                        class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                        type="text" 
                        id="ContactFormFirstName" 
                        name="contact[First Name]"
                        required>
                    </div>
                    
                    <div class="tw-pb-4 md:tw-w-48%">
                        <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormLastName">{{ 'contact.form.lastname' | t}}*</label><br>
                        <input 
                        class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                        type="text" 
                        id="ContactFormLastName" 
                        name="contact[Last Name]"
                        required>
                    </div>
                </div>
    
                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormAddress1">Store/Medical Practice {{ 'contact.form.address1' | t}}*</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormAddress1" 
                    name="contact[Store/Practice Address Line 1]"
                    required>               
                </div>
    
                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormAddress2">Store/Medical Practice {{ 'contact.form.address2' | t}}</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormAddress2" 
                    name="contact[Store/Practice Address Line 2]">              
                </div>
    
                <div class="md:tw-flex md:tw-justify-between">
                    <div class="tw-pb-4 md:tw-w-48%">
                        <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormCity">{{ 'contact.form.city' | t}}*</label><br>
                        <input 
                        class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                        type="text" 
                        id="ContactFormCitys" 
                        name="contact[City]"
                        required>               
                    </div>
        
                    <div class="tw-pb-4 md:tw-w-48%">
                        <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormState">{{ 'contact.form.state' | t}}*</label><br>
                        <input 
                        class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                        type="text" 
                        id="ContactFormState" 
                        name="contact[State]"
                        required>              
                    </div>
                </div>
    
                <div class="tw-pb-4 md:tw-w-48%">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormZipCode">{{ 'contact.form.zip' | t}}*</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormZipCode" 
                    name="contact[Zip Code]"
                    required>              
                </div>
    
                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormCountry">{{ 'contact.form.country' | t}}*</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormCountry" 
                    name="contact[Country]"
                    required>             
                </div>

                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormWebsite">Store/Medical Practice {{ 'contact.form.website' | t}}</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormWebsite" 
                    name="contact[Store/Practice Website]">             
                </div>
    
                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormEmail">Store/Medical Practice {{ 'contact.form.email' | t}}*</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="email" 
                    id="ContactFormEmail" 
                    name="contact[email]"                  
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    required>               
                </div>

                <div class="tw-pb-4">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormTaxId">Tax ID Number*</label><br>
                    <input 
                    class="tw-pl-2 tw-border-2 tw-border-solid tw-border-gainsboro tw-rounded-sm tw-text-16px/24px tw-py-1 tw-w-full" 
                    type="text" 
                    id="ContactFormTaxId" 
                    name="contact[Tax ID Number]"
                    required>             
                </div>
    
                <div class="tw-pb-6">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormMessage">Please tell us in a few words something about your business and customer profile.*</label><br> 
                    <textarea 
                    class="tw-pl-2 tw-border-2 tw-h-32 tw-border-solid tw-border-gainsboro tw-rounded tw-text-16px/24px tw-py-1 tw-w-full"  
                    type="text"
                    id="ContactFormMessage" 
                    name="contact[Why I'd like a sample]"
                    cols="30" rows="10"
                    required></textarea>          
                </div>
    
                <div class="tw-pb-4">
                    <input 
                    type="checkbox" 
                    id="ContactFormSignUp" 
                    name="contact[Newsletter Sign Up]"
                    value="Sign Me Up!">
                    <label class="tw-text-black tw-16px/24px tw-font-open-sans" for="ContactFormSignUp">
                    Please send me info about Exederm updates and products via email</label>
                </div>
    
                <p class="tw-text-14px/20px tw-font-open-sans tw-text-black tw-pb-8">By submitting your information in this form, you agree that such information will be governed by our Privacy Policy.</p>
    
                <button class="primary__button tw-w-48 tw-py-3" type="submit" value={{ 'contact.form.send' | t}}>Send</button>
                {% endform %}
            </div>
        </div>
    </div>
</section>